.dash-title {
    font-size:3rem;
    background-color: rgb(7, 63, 182);
    color: white; 
    text-align: center;

}

.main-weather{
    text-align: left, center;
    border: double;
    box-sizing: border-box;
    width: 2000px;
    height: 300px;
    padding: 20px;
}

.daySearch{
    color: whitesmoke;
    background-color:rgb(12, 145, 223);
    border: none;
    padding: 10px 80px;
    font-size: 16px;
    border-radius: 10px;
    
}

.front-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.search-main {
   display: flex;
   flex-direction: column; 
   padding: 20px;
   border-bottom: 2px solid black;
   margin: 0 20px;
   gap: 5px;
   
  
}

.cityHistory{
    color: whitesmoke;
    background-color:grey;
    border: none;
    padding: 10px 80px;
    font-size: 16px;
    border-radius: 10px;
}

.history {
    justify-content: space-around; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
   